%h1 Flickarrr !
%div#s_bar
  = text_field_tag 'search', nil, :autofocus => true
  = button_tag 'search Flickr', :id => 'search_flickr'
  = button_tag 'clear images', :id => 'clear_images'

%p This here be the mightiest potrait locating contraption, for ye' average natured pirate. Welcome to aboard Flickarrr !

%div#images

= button_tag 'More Images', :id => 'more'