h1 {
  font-family: 'Permanent Marker', cursive;
  text-align: right;
  font-size: 3em;
  color: grey;
}

img {
  width: 110px;
  height: 110px;
  border: 5px solid black;
  margin: 1em;
}

p {
  text-align: center;
  font-size: 1.5em;
  padding: .5em;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  color: grey;

}